<a href="https://colab.research.google.com/github/Sanjana1306/Machine-Learning-Projects/blob/main/california_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import tensorflow as tf
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv")

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df["median_house_value"]/=1000.0

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936                66.9
1    -114.47     34.40  ...         1.8200                80.1
2    -114.56     33.69  ...         1.6509                85.7
3    -114.57     33.64  ...         3.1917                73.4
4    -114.57     33.57  ...         1.9250                65.5

[5 rows x 9 columns]

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [ ]:
X=datasets.load
Y="median_house_value"
X_test=X.target[-30:].reshape(-1,1)
X.reshape(-1, 1)
plt.xlabel("total_rooms")
plt.ylabel("median_house_value")
reg.fit(X,Y)
#plt.scatter(df.total_rooms,df.median_house_value)
plt.show()

In [ ]:
learning_rate=0.5
epochs=1
batch_size=15

label="total_rooms"
feature ="median_house_value"

my_model = None

my_model= build_model(learning_rate)
weight,bias,epochs,rmse = train_model(my_model,feature,label ,epochs,batch_size)

print("learned weight is %.4f"%weight)
print("learned bias is %.4f"%bias)
 
plot_the_model(weight,bias,feature,label)
plot_the_loss(epochs,rmse)